{% block sidebar %}
<aside class="sidebar">
  <div class="brand">Панель администратора</div>
  <nav class="nav">
    <a href="{{ path('admin_index') }}">Главная</a>
    <a href="{{ path('admin_users') }}">Пользователи</a>
    <div class="dropdown">
        <a href="{{ path('admin_content') }}" class="dropdown-toggle">Контент</a>
        <div class="dropdown-menu">
            <a href="{{ path('admin_content_news') }}">Новости</a>
        </div>
    </div>
  </nav>
</aside>
{% endblock %}
